body
{
  background-color: #e2e1e0;
  font-family: 'Roboto', sans-serif;
}

#login-box
{
  position: fixed;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #fff;
  border-radius: 4px;
  height: 300px;
  width: 300px;
  margin: -150px 0px 0px -150px;
  top: 30%;
  left: 50%;
  text-align: center;
}

input
{
  padding: 10px;
}

h2
{
  color: #757575;
}
